<style>
  .notice {
    color: #28a745;
    background-color: #eaf4ea;
    border: 1px solid #28a745;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
  }

  .description{
    color: #28a745;
    background-color: #c9fff5;
    border: 1px solid #28a745;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    font-size: 16px;
  }

  .actions {
    text-align: center;
    margin-top: 20px;
  }

  .btn {
    padding: 10px 15px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    margin: 5px;
  }

  .btn-primary {
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
  }

  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
  }

  .btn-secondary {
    background-color: #6c757d;
    color: #fff;
    border: 1px solid #6c757d;
  }

  .btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
  }

  .btn-danger {
    background-color: #dc3545;
    color: #fff;
    border: 1px solid #dc3545;
  }

  .btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
  }
</style>


<p class="notice"><%= notice %></p>
<div class="description">
  <%= render @movie %>
</div>

<div class="actions">
  <%= link_to "Edit this movie", edit_movie_path(@movie), class: "btn btn-primary" %> |
  <%= link_to "Back to movies", movies_path, class: "btn btn-secondary" %>

  <%= button_to "Destroy this movie", @movie, method: :delete, class: "btn btn-danger" %>
</div>